body {
  background-color: rgb(255, 255, 255);
}

/* Form start */

.formDiv {
  margin: 0 30vh;
  padding: 20px;
  box-sizing: border-box;
  border: 4px solid #ccc;
  border-radius: 10px;
}

@media (max-width: 1024px) {
  .formDiv {
    margin: 0 15vh;
    padding: 20px;
  }
}

@media (max-width: 768px) {
  .formDiv {
    margin: 0 10vh;
    padding: 20px;
  }
}

@media (max-width: 500px) {
  .formDiv {
    margin: 0 2vh;
    padding: 10px;
  }
}

/* Form end */
